<!DOCTYPE html>
<html lang="es">

    <head>
        <title>Log out</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    </head>
    <body>
        <h1 class="text-center fw-bold" style="margin: 10%;">Desconectado!</h1>

        <p class="text-center fw-bold"><a class="text-center fw-bold" href="{% url 'login'%}">¿Acceder nuevamente?</a></p>
    </body>

</html>


