<!DOCTYPE html>
<html lang="es">

    <head>
        <title>Login</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        

        <style>
            .todos{
                margin: 40%;
            }
        </style>
    </head>
    <body>
        

        {% if form.errors %}
        <p class="text-center fw-bold" style="color: crimson;">El usuario y la clave no coinciden, por favor intente nuevamente</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p class="text-center fw-bold" style="color: crimson;">Tu cuenta no tiene a esta pagina. Para proceder,
                por favor inicie sesión con una cuenta que tenga acceso.</p>
            {% else %}
            <p class="text-center fw-bold" style="color: crimson;">Inicie sesion para ver esta página.</p>
            {% endif %}
        {% endif %}

        <form method="POST" action="{% url 'login' %}">
           
            {% csrf_token %}

            <div>
                <h1 class="text-center" style="padding-top: 3%;">Inicie sesion:</h1>
                <p class="text-center fw-bold">Usuario:</p>
                <p class="text-center">{{ form.username }}</p>
            </div>
            {% csrf_token %}
            <div>
                <p class="text-center fw-bold">{{ form.password.label_tag }}</p>
                <p class="text-center">{{ form.password }}</p>
            </div>
            {% csrf_token %}
            <div class="text-center">
                <input type="submit" value="ACCEDER"/>
                <input type="hidden" name="next" value="{% url 'eCommerce:index' %}"/>
            </div>
        </form>
        <p class="text-center" style="margin-top: 1%;"><a href="{% url 'password_reset' %}">¿Olvidó su contraseña?</a></p>

        <p class="text-center"><a href="{% url 'USUARIOS:registrarse' %}">Registrarse</a></p>



    </body>

</html>

