<!DOCTYPE html>
<html lang="es">

    <head>
        <title>Reseteo de password confirmar</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    </head>
    <body>

        {% if validlink %}
            <p>Ingrese (y confirme) su nueva contraseña</p>
            <form action="" method="POST">
                <div style="display: none;">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                <table>
                    <tr>
                        <td>{{ form.new_password1.errors }}
                            <label for="id_new_password1">Nueva contraseña:</label></td>
                        <td>{{ form.new_password1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.new_password2.errors }}
                            <label for="id_new_password2">Confirmar contraseña:</label></td>
                        <td>{{ form.new_password2 }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Cambiar mi password"/></td>
                    </tr>
                </table>
            </form>
        {% else %}
            <h1>Error al reestablecer su contraseña</h1>
            <p>El enlace para reestablecer su contraseña no es valido, posiblemente porque ya se ha utilizado</p>
        {% endif %}

        <p><a href="{% url 'login' %}">Volver</a></p>


    </body>

</html>
