<!DOCTYPE html>
<html lang="es">

    <head>
        <title>Reseteo de Password</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    </head>
    <body>
        <h1 class="text-center fw-bold" style="margin: 4%;">Formulario para cambiar su constraseña</h1>
        <p class="text-center fw-bold">Debe ingresar el corre electronico  que usó al registrarse:</p>

        <form action="" method="post" style="margin: 1%;">{% csrf_token %}
            {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                <p class="text-center" style="margin: 2%;">{{ form.email }}</p>
                <input type="submit" class="btn btn-primary btn-lg" style="margin-left: 45.5%; margin-top: 1%;" value="Reset password">
        </form>

        <p class="text-center fw-bold" style="margin: 3%;"><a href="{% url 'login' %}">Volver al Login.</a></p>
    </body>

</html>
