<!DOCTYPE html>
<html lang="es">

    <head>
        <title>Registro</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
        <style>
          .todos{
              margin-left: 45%;
              margin-right: 45%;

          }

          .btn{
            margin-left: 45%;
            margin-right: 45%;
          }

          label{
            margin-left: 45%;
            margin-right: 43%;
          }
      </style>
    </head>
    <body>
        <h2 class="h3 mb-3 fw-normal text-center" style="padding-top: 4%;">Formulario de Registro</h2>
        <form method="POST">
          {% csrf_token %}
          {% for campo in form %}
            <p>
                {{ campo.label_tag}}<br>
                {{ campo }}
                {% for error in campo.errors %}
                  <p class="text-center" style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
          {% endfor %}
          <button class="btn btn-lg btn-primary" type="submit">Confirmar Registro</button>
        </form>
    </body>

</html>
