<!DOCTYPE html>
<html lang="es">

    <head>
        <title>Formulario de alta de producto</title>
    </head>
    <body>
        <h3>Alta de Producto</h3>
        <form action="{% url 'eCommerce:alta_producto' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="GUARDAR">
        </form>
    </body>

</html>